---

import '../styles/global.css'  
import { Hero } from '@/components/hero'
import { WorkExperience } from '@/components/work-experience'
import { Projects } from '@/components/projects'
import { BlogPosts } from '@/components/blog-posts'
import Layout from '../layout/base.astro'
---

<Layout>
    <div class="min-h-screen bg-background w-screen">

      <main class="mx-auto max-w-5xl px-4 py-6 md:px-6 md:py-8">
        <Hero client:load />
        <WorkExperience client:load/>
        <Projects client:load />
        <BlogPosts client:load />
      </main>
    </div>
</Layout>
