---
---
<div
  class="prose prose-sm sm:prose-base font-mono dark:prose-invert
  prose:font-mono
  max-w-full overflow-x-hidden break-words
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-a:break-words prose-p:text-justify prose-img:rounded-xl prose-img:max-w-full prose-img:h-auto
  prose-headings:underline prose-headings:break-words">
  <slot />
</div>
