---
import '../styles/global.css';
import { Button } from '@/components/ui/button';
import Prose from '../components/prose.astro';

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title ? `${frontmatter.title}` : 'Aniketh Chenjeri'}</title>
  </head>

  <body
    class="min-h-screen w-screen bg-background text-foreground overflow-x-hidden font-mono"
  >
    <main class="flex flex-col min-h-screen items-center justify-center px-6 py-6">
      <header
        class="relative flex w-full max-w-3xl items-center justify-center border-b border-border pb-4 pt-8 mb-8"
      >
        <Button
          variant="ghost"
          client:load
          className="absolute left-0"
        >
          <a href="/" class="no-underline text-foreground hover:text-primary font-mono">
            Go Home
          </a>
        </Button>

        <h1 class="text-2xl font-semibold tracking-tight text-center  font-mono">
          {frontmatter.title}
        </h1>
      </header>

      <Prose class="max-w-3xl w-full">
        <slot />
      </Prose>
    </main>
  </body>
</html>
